:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
 mat-drawer{
    width: 200px;
    background:#41AB34
 }

 mat-drawer-container{
    height: 100%;
    
 }
 mat-drawer-content{
   background-color: rgb(0 0 0 / 4%);;
 }
