<div class="container-fluid page">
    <div class="page__box p-3 mt-1">Modeles</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data  text-align-center">
           <div class="table">
            <div style="display: flex; flex-direction: row;justify-content: space-between">
              <div>
            <mat-form-field appearance="outline">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
          </div>
            <div style="float: right; width: 10%;">
              <button class="page-header-right-actions" style="border-radius: 5px;" (click)="newModele()">
                <i class="fal fa-plus"></i> &nbsp;Ajouter Modele
              </button>
            </div>
          </div>
          
           <hr>
  
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modeles </th>
        <td mat-cell *matCellDef="let row"> <img src="{{row.file | image}}"  alt="" width="60px" height="60px"/> </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Creation </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="updatedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mise a jour </th>
        <td mat-cell *matCellDef="let row"> {{row.updated_at | date}} </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>
</div  >
</div>
</div>


<ng-template let-data #myInfoDialog>

  <form [formGroup]="modeleForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <app-modal [modalTitle]="'Nouveau Modele'">
      <div body>
        <div>
          <label for="lname">Choisir un Modele </label><br>
          <input type="file" id="filePicker" formControlName="image" (change)="handleFileSelect($event)">
          <!-- <input type="file"  name="produit" placeholder="Modele" accept="image/"  formControlName="image"> -->
        </div>
        <div>
          <label for="lname">Nom </label>
          <input type="text" name="nom" placeholder="nom" formControlName="nom">
        </div>
        
     <div>
        <label for="lname">Prix</label>
        <input type="number" id="lname" name="prix" placeholder="Nom" formControlName="prix">
      </div>
       
       
      </div>
      <div btns class="divHeight" >

        <input type="button" value="Cancel" mat-dialog-close>
        <input type="submit" value="Submit">

      </div>
    </app-modal>
  </form>


</ng-template>
