<body>
  <div class="box-form">
    <div class="left">
  
    </div>

    <div class="right">
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="inputs">
          <h1 style="    font-size: 30px;
          margin-bottom: 30px;
          font-weight: 600;">Bienvenue chez Noel Couture</h1>
        
          <input type="text" id="lname" name="nom" placeholder="Nom" formControlName="nom">
          
          <input type="text" name="email" placeholder="Email" formControlName="email">
      
          <input type="text" name="phone" placeholder="Numero de telephone" formControlName="phone">
          
          <div style="display: flex;
          flex-direction: row;">
          <label>Sexe:</label> 
          <div>
          <input type="radio" id="contactChoice1" name="contact" value="F" style="display: inline;"/>
          <label for="contactChoice1">Femme</label>
        </div>
          <div>
    <input type="radio" id="contactChoice2" name="contact" value="M" />
    <label for="contactChoice2">Homme</label>
  </div>
  </div>
          <input type="text" id="password" name="password" placeholder="Mot de passe" formControlName="password">
      
        </div>
      
        <button type="submit">S'inscrire</button>
        <p style="margin-top: 10px;">Vous avez deja un compte? <a href="/login">Connectez</a> vous</p>
       </form>
    </div>

  </div>
</body>



















  <!-- <app-modal [modalTitle]="'Bienvenue chez Noel Couture'" (submit)="onSubmit()">
    <div body>



      <label for="lname">Nom</label>
      <input type="text" id="lname" name="username" placeholder="Nom" formControlName="name">
      <label for="lname">Email </label>
      <input type="text" name="email" placeholder="Email" formControlName="email">

      <label for="lname">Mot de Passe </label>
      <input type="text" id="password" name="password" placeholder="Mot de passe" formControlName="password">


    </div>
    <div btns class="divHeight">

      <input type="button" value="Cancel" (click)="closeDialog()">
      <input type="submit" value="Submit" [disabled]="!registerForm.valid">

    </div>
  </app-modal> -->
