<mat-nav-list>
    <div class="logo-py-4">

    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerlink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerlink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item><mat-icon>supervised_user_circle</mat-icon> Clients</a>
    <a mat-list-item><mat-icon>modele</mat-icon> Modeles</a>

</mat-nav-list>

