
 .logo{
   text-align: center;
   padding: 2.6rem 1rem;
   img{
      width: 200px;
   }
 }
 a{
   color: white;
 }
 .mat-icon{
   vertical-align: center;
   margin-right: 1rem;
 }
 .mat-divider{
   border-top-width: 2px;
   border-color: black;
 }

 .mat-mdc-list-item{
   color:white !important;
   font-size: 0.8 rem;
   height:  44px !important;
   margin-bottom: 4px;
   ::ng-deep{
      .mdc-list-item__content {
         border-radius: 5px;
         margin: 0.8px;
         color: white !important;
         &:hover{
            background: white !important;
            color: black !important
         }
      }
   }
 }
 .list-item-active{
   color: white !important;
   ::ng-deep {
      .mdc-list-item__content {
        background-color: white;
         &:hover{
            background: white !important;
         }
      }
   }
}
.mat-mdc-subheader{
   color:blue($color: #000000);
   font-size : 0.6rem;
   font-weight: 100;
   letter-spacing: 1px;
}
.mat-mdc-list-base {
   --mdc-list-list-item-label-text-color: #fcfcfcce;
}