<mat-nav-list>
  <div class="logo-py-3" style="background-color: white;">
    <img src="../../../../assets/logoNoel.png" alt="" style="height: 130px;
    position: relative;
    object-fit: cover;
    transform: scale(0.75)translate(50%, 0%);">
  </div>
  <mat-divider></mat-divider>
 
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLink="/clients"><mat-icon>supervised_user_circle</mat-icon> Clients</a>
  <a mat-list-item [routerLink]="['/modeles']" routerLinkActive="list-item-active"><mat-icon>modele</mat-icon> Modeles</a>
  <a mat-list-item [routerLink]="['/messages']" routerLinkActive="list-item-active"><mat-icon>chat</mat-icon> Messages</a>
  <a mat-list-item [routerLink]="['/rdvs']" routerLinkActive="list-item-active"><mat-icon>Rendez vous</mat-icon> Modeles</a>

</mat-nav-list>