<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Noel Couture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes Mesures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rendez Vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="registerDialog()">S'enregistrer</p>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<!-- Accueil-->


<div class="container-tarifs">
  <div class="cartes-tarifs">
    <h4>Robe Africaine</h4>
    <span>1000FCFA</span>
    <hr>
    <div class="imgContainer">
      <img src="../../../../assets/robe.jpg">
    </div>
    <a href="#contact">Passer Commande</a>
  </div>
  <div class="cartes-tarifs">
    <h4>Robe Africaine</h4>
    <span>1000FCFA</span>
    <hr>
    <div class="imgContainer">
      <img src="../../../../assets/robe2.jpg">
    </div>
    <a href="#contact">Passer Commande</a>
  </div>
</div>
<!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/robe.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>5000</h5>

        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/robe3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/robe2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
<!-- Section Asymetrique-->
<!--
  <section class="section-asymetrique" id="asym">
    <h2>
      Que faire a EJARA
    </h2>
    <div class="bloc bloc-left bloc-1">
      <div class="bloc-txt-left">
        <h3>Services offert</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic excepturi molestias quia quidem,
          veritatis est id aliquid non repellat velit, distinctio asperiores! Nostrum fuga sit voluptates.
          Fugiat, earum harum. Dicta consequuntur odio aspernatur iure eos qui autem? Quia amet nesciunt
          exercitationem. Dicta accusamus ullam alias esse reprehenderit ipsum mollitia laboriosam.</p>
        <button class="btn-bloc-left">
          En Savoir Plus
        </button>
      </div>

    </div>
    <img src="ressources/asym.jpg" alt="couloir dun temple" class="img-grid img-grid-1">

    <div class="bloc bloc-right bloc-2">
      <div class="bloc-txt-right">
        <h3>Produit offert</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic excepturi molestias quia quidem,
          veritatis est id aliquid non repellat velit, distinctio asperiores! Nostrum fuga sit voluptates.
          Fugiat, earum harum. Dicta consequuntur odio aspernatur iure eos qui autem? Quia amet nesciunt
          exercitationem. Dicta accusamus ullam alias esse reprehenderit ipsum mollitia laboriosam.</p>
        <button>
          En Savoir Plus
        </button>
      </div>
    </div>
    <img src="ressources/asym-2.jpg" alt="couloir dun temple" class="img-grid img-grid-2">
    <div class="bloc bloc-left bloc-3">
      <div class="bloc-txt-left">
        <h3>Autres Services offert</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic excepturi molestias quia quidem,
          veritatis est id aliquid non repellat velit, distinctio asperiores! Nostrum fuga sit voluptates.
          Fugiat, earum harum. Dicta consequuntur odio aspernatur iure eos qui autem? Quia amet nesciunt
          exercitationem. Dicta accusamus ullam alias esse reprehenderit ipsum mollitia laboriosam.</p>
        <button class="btn-bloc-left">
          En Savoir Plus
        </button>
      </div>
    </div>
    <img src="ressources/asym-3.jpg" alt="couloir dun temple" class="img-grid img-grid-3">

    <div class="ligne-gauche"></div>
    <div class="ligne-droite"></div>

  </section> -->


<!-- Section Parallax  -->

<!-- <section class="parallax">
    <span>Laissez vous emporter</span>
  </section> -->

<!-- Section Tarifs -->

<!-- <section class="section-tarifs" id="tarifs">
    <h3>Laissez vous guider ...</h3>
    <hr>

    <div class="container-tarifs">
      <div class="cartes-tarifs">
        <h4>Classique</h4>
        <span>100E</span>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem asperiores dolor doloremque,
          saepe nisi pariatur, eveniet tempora alias consectetur sit placeat distinctio quam! Exercitationem.
        </P>
        <a href="#contact">Reservez un guide</a>
      </div>
      <div class="cartes-tarifs">
        <h4>Decouverte</h4>
        <span>200E</span>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem asperiores dolor doloremque,
          saepe nisi pariatur, eveniet tempora alias consectetur sit placeat distinctio quam! Exercitationem.
        </P>
        <a href="#contact">Reservez un guide</a>
      </div>
      <div class="cartes-tarifs">
        <h4>Exception</h4>
        <span>500E</span>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem asperiores dolor doloremque,
          saepe nisi pariatur, eveniet tempora alias consectetur sit placeat distinctio quam! Exercitationem.
        </P>
        <a href="#contact">Reservez un guide</a>
      </div>
    </div>
  </section> -->


<!-- Contavt -->

<!-- <section class="section-contact" id="contact">
    <h2><strong>Rentrons </strong> en contact</h2>
    <div class="container-form">
      <form action="" class="form-bloc">
        <div class="form-groupe">
          <label for="prenom">Entrez votre prenom</label>
          <input type="text" placeholder="prenom" required id="prenom">
        </div>
        <div class="form-groupe">
          <label for="nom">Entrez votre nom</label>
          <input type="text" placeholder="nom" required id="nom">
        </div>
        <div class="form-groupe">

          <textarea type="text" placeholder="Votre message" required id="txt"></textarea>
        </div>
        <div class="form-groupe">
          <input type="submit" value="ENVOYER" class="button-sub">

        </div>
      </form>

    </div>
  </section>
  <footer>
    Tous droits reseves &copy;
  </footer>

  <script src="site.js"></script> -->
<!-- </body>

</html> -->